<div class="widget">
    <h3 class="widget-title">Connect</h3>
    <ul>
        <li><a class="spec" href="https://www.linkedin.com/in/erdi-mollahuseyinoglu/" alt="LinkedIn" target="_blank" onclick="trackOutboundLink('http://www.linkedin.com/in/erdi-mollahuseyinoglu?loc=sidebar');">LinkedIn</a></li>
        <li><a class="spec" href="http://github.com/erdimollahuseyin?loc=sidebar" alt="Github" target="_blank" onclick="trackOutboundLink('http://github.com/erdimollahuseyin/');">Github</a></li>
        <li><a class="spec" href="http://medium.com/@erdimollahseyin?loc=sidebar" alt="Medium" target="_blank" onclick="trackOutboundLink('http://medium.com/@erdimollahseyin/');">Medium</a></li>
        <li><a class="spec" href="http://twitter.com/EMollahuseyin?loc=sidebar" alt="Twitter" target="_blank" onclick="trackOutboundLink('http://twitter.com/EMollahuseyin/');">Twitter</a></li>
        <li><a class="spec" href="mailto:erdimollahuseyin@gmail.com" alt="email" target="_blank" onclick="trackOutboundLink('mailto:erdimollahuseyin@gmail.com');">Email</a></li>
    </ul>
</div>
